/* Importing the Rye font globally */
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

/* Applying the font to the entire project */
* {
    font-family: 'Rye', cursive;
}

body {
    overflow: auto;
    background-image: url(images/10081449.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    min-height: 100vh;
}
