/* Commonly used constants */

:root {
    --color: aliceblue;
    --color2: lightgray;
    --pop-up-background-color: rgba(77, 134, 169, 0.95);
}

/* We don't want scroll bars to appear */

html, body {
  overflow: hidden;
}

/* ///// OVERRIDE PAGES (BOTH TOO MANY TABS AND NO PLAYERS PAGES) ///// */

.centre-red-message {
    position: absolute;
    left: 50vw;
    top: 30vh;
    transform: translate(-50%, -50%);
    font-size: 5vh;
    color: red;
    text-align: center;
}

#no-players-back-button {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    background-color: rgba(65, 104, 134, 0.886);
    color: var(--color);
    border: 3px solid var(--color);  
    text-align: center;        
    font-size: 2vh;         
    cursor: pointer;  
    border-radius: 4vh;      
    transition: background-color 0.3s ease;
    font-size: clamp(0vw, 2vw, 3vh);
    width: clamp(0vw, 25vw, 35vh);
    height: 10vh;
    cursor: pointer;
}

#no-players-back-button:hover {
    background-color: rgba(36, 78, 110, 0.886);
}

/* ///// MAIN PAGE ///// */

/* Lines */

.line {
    background-color: var(--color);
    z-index: 100;
}

#middle-horizontal-line {
    position: absolute;
    width: 100vw;
    height: 0.7vh;
    top: 40vh;
    left: 0vw;
}

#player-line-1 {
    position: absolute;
    left: 25vw;
    width: 0.5vw;
    height: 60vh;
    transform: translate(-50%);
}

#player-line-2 {
    position: absolute;
    left: 50vw;
    width: 0.5vw;
    height: 60vh;
    transform: translate(-50%);
}

#player-line-3 {
    position: absolute;
    left: 75vw;
    width: 0.5vw;
    height: 60vh;
    transform: translate(-50%);
}

/* Circles */

.circle {
    border-radius: 50%;
    background-color: var(--pop-up-background-color);
    border: clamp(0vw, 0.3vw, 0.5vh) solid var(--color2);
}

/* Dealer */

#dealer-region {
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 40vh;
}

#dealer-label {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    top: 3vh;
    left: 27vw;
    font-size: clamp(0vw, 5vw, 7vh);
    color: var(--color);
}

#dealer-score-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 30vw;
    top: 12vh;
}

#dealer-score-label {
    font-size: clamp(0vw, 2.4vw, 4vh);
    margin-top: 2vh;
    margin-bottom: 1.5vh;
    color: var(--color2);
}

#dealer-score-circle {
    width: clamp(0vw, 9vw, 13vh);
    height: clamp(0vw, 9vw, 13vh);
}

#dealer-score {
    position: relative;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(0vw, 5vw, 8vh);
    color: var(--color2);
}

#dealer-cards {
    position: absolute;
    overflow: visible;
    width: 48vw;
    height: 35vh;
    left: 50vw;
    top: 2vh;
}

/* Players */

#player-region {
    position: absolute;
    left: 0vw;
    bottom: 0vh;
    width: 100vw;
    height: 59.3vh;
}


/* ///// POPUPS ///// */

/* General popup settings */

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    z-index: 101;
}

.game-popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    padding: 5vh;
    background-color: var(--pop-up-background-color);
    border-radius: 8vh;
    border: 0.3vh solid aliceblue;
    transition: opacity 0.3s ease;
}

.popup-header {
    font-size: 4vh;
    text-align: left;
    text-decoration: underline;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.popup-text {
    font-size: 3vh;
    color: var(--color2);
}

.popup-text2 {
    font-size: 2vh;
    color: var(--color2);
}

.container-button {
    width: 30vh;
    height: 10vh;
    background-color: rgba(65, 104, 134, 0.886);
    color: var(--color);
    border: 3px solid var(--color);  
    text-align: center;        
    font-size: 2vh;         
    white-space: normal;
    word-wrap: break-word;   
    overflow-wrap: break-word; 
    cursor: pointer;  
    border-radius: 4vh;      
    transition: background-color 0.3s ease;
    font-size: clamp(0vw, 2vw, 3vh);
    cursor: pointer;
}

.container-button:hover {
    background-color: rgba(36, 78, 110, 0.886);
}

/* Start popup */

#start-title {
    margin-bottom: 0;
    color: red;
}

/* Place Bets Popup */

#place-bets-title {
    color: var(--color);
}

#place-bets-input {
    width: 30%;
    font-size: 1.8vh;
    color: darkslategray;
    border-radius: 10%;
    box-shadow: 0 2vh 3vh rgba(0, 0, 0, 0.2);
}

#place-bet-button {
    margin-top: 5vh;
    margin-bottom: 0vh;
}

/* Question popup */ 

.answer-container {
    margin-top: 2vh;
}

#question-title {
    color: var(--color);
}

#answer-container {
    display: flex; 
    flex-direction: column;
}

#answer-button {
    margin-top: 5vh;
    margin-bottom: 0vh;
}

#answer-correctness-cover {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border-radius: 8vh;    
    background-color: rgba(0, 0, 0, 0.8);

}

#actual-question {
    text-align: center;
}

#correctness-message {
    margin: 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vh;
}   

/* Game over popup */

#game-over-title {
    color: var(--color);
}

#play-again-button {
    margin-bottom: 2vh;
}

/* Animations */

/* This is for the player cards */
@keyframes slideInFromBelow {
  from {
    transform: translate(-50%, 200%);
    opacity: 0;
  }
  to {
    transform: translate(-50%);
    opacity: 1;
  }
}

/* This is for dealer cards */
@keyframes slideLeftFromRight {
  from {
    transform: translate(500%, -50%);
    opacity: 0;
  }
  to {
    transform: translate(0%, -50%);
    opacity: 1;
  }
}