:root {
    --text-color: aliceblue;
    --text-color2: lightgray;
    --pop-up-background-color: rgba(77, 134, 169, 0.95);
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

/* For all the elements on the main page */

.main-buttons {
    background-color: rgba(65, 104, 134, 0.886);
    color: var(--text-color);
    border: 3px solid var(--text-color);  
    text-align: center;        
    font-size: 2vh;         
    cursor: pointer;  
    border-radius: 4vh;      
    transition: background-color 0.3s ease;
    font-size: clamp(0vw, 2vw, 3vh);
    width: clamp(0vw, 25vw, 35vh);
    height: 10vh;
    cursor: pointer;
}

.main-buttons:hover {
    background-color: rgba(36, 78, 110, 0.886);
}

.center-buttons {
    background-color: rgba(65, 104, 134, 0.886);
    color: var(--text-color);
    border: 3px solid var(--text-color);  
    text-align: center;        
    font-size: 2vh;         
    cursor: pointer;  
    border-radius: 4vh;      
    transition: background-color 0.3s ease;
    font-size: clamp(0vw, 2vw, 3vh);
    width: clamp(0vw, 25vw, 35vh);
    height: 7vh;
    cursor: pointer;
}

.center-buttons:hover {
    background-color: rgba(36, 78, 110, 0.886);
}

.stacked-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    gap: 2.5vh;
}

#lobby-header {
    position: absolute;
    top: 3vh;
    font-size: 6vh;
    color: var(--text-color);
}

#logged-in-player-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    top: 20vh;
    width: clamp(30vh, 40vw, 50vh);
}

#logged-in-player-list {
    padding: 1.5vh 1.5vh 1.5vh 1.8vh;
    height: 14vh;
    line-height: 3.5vh;
    border-radius: 3vh;
    text-align: center;
    list-style-type: none;
    color: var(--text-color2);
    background-color: rgba(200, 200, 200, 0.3);
    font-size: 2.5vh;
    border: 0.3vh solid aliceblue;
}

#logged-in-players {
    color: var(--text-color2);
    padding: 0%;
    font-size: 3vh;
    text-decoration: underline;
}

#middle-4-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 2.5vh;
    bottom: 9vh;
    transform: translateX(-50%);
}

#bottom-right-buttons {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
}

#stats-button {
    position: absolute;
    bottom: 5vh;
    left: 5vw;
}

/* For all the popups in general */

.popup {
    top: 50vh;
    left: 50vw;
    width: 30vh;
    height: auto;
    transform: translate(-50%, -50%);
    padding: 5vh;
    background-color: var(--pop-up-background-color);
    border-radius: 8vh;
    border: 0.3vh solid aliceblue;
    transition: opacity 0.3s ease;
}

.popup h1 {
    font-size: 4vh;
    color: var(--text-color);
    text-decoration: underline;
}

.popup h3 {
    color: var(--text-color2);
    margin-top: 0vh;
    margin-bottom: 0.5vh;
    font-size: 2vh;
}

.popup-header {
    color: var(--text-color);
    font-size: 3vh;
    margin: 0;
    text-decoration: underline;
    text-align: center;
}

.popup-background {
    position: fixed;
    top: 0; 
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Create Player popup container */

.text-input-container {
    padding: 0;
}

.container-button {
    width: 30vh;
    height: 10vh;
    background-color: rgba(65, 104, 134, 0.886);
    color: var(--text-color);
    border: 3px solid var(--text-color);  
    text-align: center;        
    font-size: 2vh;         
    cursor: pointer;  
    border-radius: 4vh;      
    transition: background-color 0.3s ease;
    font-size: clamp(0vw, 2vw, 3vh);
    cursor: pointer;
}

.container-button:hover {
    background-color: rgba(36, 78, 110, 0.886);
}

.input-field {
    width: 100%;
    font-size: 1.8vh;
    color: darkslategray;
    border-radius: 10%;
    box-shadow: 0 2vh 3vh rgba(0, 0, 0, 0.2);
}

#create-player-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: top;
    position: absolute;
}

#create-username-container {
    padding-bottom: 5%;
}

/* Login container */

#login-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: top;
    position: absolute;
}

#login-username-container {
    padding-bottom: 5%;
}

/* View statistics popup container */ 

#statistics-popup-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2vh;
}

#statistics-button-list {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

/* Logout popup container */

#logout-popup-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    gap: 2vh;
}

#logout-button-list {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}