:root {
    --text-color: aliceblue;
    --text-color2: lightgray;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

.screen {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

/* ERROR SCREEN */

#error-message {
    position: absolute;
    left: 50vw;
    top: 30vh;
    transform: translate(-50%, -50%);
    font-size: 6vh;
    color: red;
    text-align: center;
}

/* SUCCESS SCREEN */

#statistics-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: auto;
    top: 3vh;
    left: 50vw;
    transform: translate(-50%);
}

#statistics-page-header {
    font-size: 6vh;
    text-align: center;
    color: var(--text-color);
    text-decoration: underline;
}

#player-statistics {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3vh;
    color: var(--text-color2);
    
}

#list-of-statistics {
    height: auto;
    line-height: 10vh;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    color: var(--text-color2);
    font-size: 3.5vh;
}

/* THE BACK BUTTON */

#back-button {
    background-color: rgba(65, 104, 134, 0.886);
    color: var(--text-color);
    border: 3px solid var(--text-color);  
    text-align: center;        
    font-size: 2vh;         
    cursor: pointer;  
    border-radius: 4vh;      
    transition: background-color 0.3s ease;
    font-size: clamp(0vw, 2vw, 3vh);
    width: clamp(0vw, 25vw, 35vh);
    height: 10vh;
    cursor: pointer;
    position: absolute;
    left: 5vw;
    bottom: 5vh;
}

#back-button:hover {
    background-color: rgba(36, 78, 110, 0.886);
}